<!DOCTYPE html>
<html ng-app="agregatorApp">
<head>
	<meta charset="UTF-8">
	<title>Agregator</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/loading_bar.css">
	<link rel="stylesheet" type="text/css" href="css/angular-backtop.css">
	<link rel="stylesheet" type="text/css" href="modules/videogular.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
	<script src="js/ng-infinite-scroll.min.js"></script>
	<script src="js/angular-backtop.min.js"></script>
	<script src="js/angular-inview.js"></script>
	<script src="js/agregatorApp.js"></script>
	<script src="js/mediaCtrl.js"></script>
</head>
<body>

	<div ng-controller="mediaCtrl as ctrl">
		<table border="1">
			<tr ng-repeat="providers_chunk in ctrl.providers">
				<td ng-repeat="provider in providers_chunk" ng-click="ctrl.switch_provider(provider)" ng-class="ctrl.is_selected(provider)">{{ provider.name }} ({{ provider.item_count }})</td>
			</tr>
		</table>

		<button ng-click="ctrl.restart()">Odśwież</button>

		<back-top scroll-speed=1200 button-theme="light">W górę</back-top>

		<div class="media-container" infinite-scroll="ctrl.fetch_media()">

			<div class="no-medias-container" ng-show="ctrl.isEmpty()">
				<p>Nie znaleziono żadnych obrazków.</p>
			</div>
			
			<div class="media" ng-repeat="media in ctrl.medias">
				
				<p>{{ media.caption }} | {{ media['added_at'] }}</p>

				<div ng-switch on="media.media_type">
					<div ng-switch-when="image">
				        <img ng-src="{{ media['data'].source_url }}"/>
				    </div>
				    <div ng-switch-when="video">
				        <video class=" autoplay " width="575" height="325" loop="" muted="" controls="">
				        	<source type="{{ media['data']['type'] }}" ng-src="{{ media['data']['src'] }}"></source>
				        	Twoja przeglądarka nie wspiera tagu video.
				        </video>
				    </div>
				    <div ng-switch-when="gallery">
				    	IS GALLERY
				    </div>
				</div>

				Dodano: {{ media['added_at'] }}
				<a href="{{media['base_url']}}">Źródło</a>
			</div>


			<div class="loading-container" ng-show="ctrl.fetching_medias === true">
				<div id="block_1" class="barlittle"></div>
				<div id="block_2" class="barlittle"></div>
				<div id="block_3" class="barlittle"></div>
				<div id="block_4" class="barlittle"></div>
				<div id="block_5" class="barlittle"></div>
			</div>
		</div>
	</div>
</body>
</html>