.selectable{
	cursor: pointer;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selectable:hover{
	background-color: #9e9e9e;
}

.selected{
	background-color: #757575;
}

.loading-container{
	padding: 100px;
}